<!doctype>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<html>
<head>
<meta charset="utf-8">
<title>Numerology App</title>
<link rel="stylesheet" href="/css/people.css">
</head>
<body>
<div class="container">
<div class="header">
<h1>Sarah's super rad and awesome numerology calculator <small>A fun diversion</small></h1>
</div>
<hr />

<%= yield %>
</div>
</body>
</html>